<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<form action="" method="post" class="">
    <h1>留言信息
        <span>请留下你的信息</span>
    </h1>
    <label >
        <span>姓名:</span>
        <input type="text" id="name" class="error" placeholder="name">
        <br>
        <span>邮箱:</span>
        <input type="text" id="email" class="error" placeholder="email">
        <br>
        <input type="submit" class="submit">
    </label>
</form>

</body>
</html>